<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quotipedia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Arvo&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    />
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h1 class="header">Quotipedia</h1>
      <section class="404">
        <p>Désolé, mais il n'y a rien ici</p>
        <a href="/">retour à l'accueil</a>
      </section>
    </div>
  </body>
</html>
